<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiqeapps.mediapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- ******************************* Vistas Generales Bienvenida e Iniciar Sesion ***************************************-->
        <activity
            android:name=".Bienvenida"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InicioSesion"
            android:label="@string/title_activity_inicio_sesion"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- ******************************************* Nuevos Registros *******************************************************-->
        <activity
            android:name=".RegistroNuevoPacientes"
            android:label="@string/title_activity_registro_pacientes"
            android:parentActivityName=".MenuNvosRegistros"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuNvosRegistros" />
        </activity>
        <activity
            android:name=".RegistroNuevoPatologico"
            android:label="@string/title_activity_patologico"
            android:parentActivityName=".MenuNvosRegistros"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuNvosRegistros" />
        </activity>
        <activity
            android:name=".RegistroNuevoNOPatologico"
            android:label="@string/title_activity_no__patologicos"
            android:parentActivityName=".MenuNvosRegistros"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuNvosRegistros" />
        </activity>
        <activity
            android:name=".RegistroNuevoAntecedentesFamiliares"
            android:label="@string/title_activity_antecedentes_familiares"
            android:parentActivityName=".MenuNvosRegistros"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuNvosRegistros" />
        </activity>
        <activity
            android:name=".RegistroNuevoGinecoObstetricos"
            android:label="@string/title_activity_gineco_obstetricos"
            android:parentActivityName=".MenuNvosRegistros"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuNvosRegistros" />
        </activity>
        <activity
            android:name=".SelectBTDev"
            android:label="@string/title_activity_select_bydev"
            android:noHistory="true"
            android:parentActivityName=".MenuNvosRegistros"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuNvosRegistros" />
        </activity>
        <activity
            android:name=".RegistroNuevoExploraFisica"
            android:label="@string/title_activity_explora_fisica"
            android:parentActivityName=".MenuNvosRegistros"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuNvosRegistros" />
        </activity>

        <!--Vistas Menu Principal del doctor-->
        <activity
            android:name=".MenuDoctorMain"
            android:label="@string/title_activity_menu_doctor_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuNvosRegistros"
            android:label="@string/title_activity_menu_nvos_registros"
            android:parentActivityName=".MenuDoctorMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuDoctorMain" />
        </activity>
        <!-- Vistas del menu atender paciente -->
        <activity
            android:name=".MenuDoctorPaciente"
            android:label="@string/title_activity_menu_doctor"
            android:parentActivityName=".MenuDoctorMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuDoctorMain" />
        </activity>
    </application>

</manifest>
