<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiqeapps.mediapp" >

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Bienvenida"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InicioSesion"
            android:label="@string/title_activity_inicio_sesion"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".RegistroPacientes"
            android:label="@string/title_activity_registro_pacientes"
            android:parentActivityName=".MenuDoctor"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuDoctor" />
        </activity>
        <activity
            android:name=".MenuDoctor"
            android:label="@string/title_activity_menu_doctor"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Patologico"
            android:label="@string/title_activity_patologico"
            android:parentActivityName=".MenuDoctor"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuDoctor" />
        </activity>
    </application>

</manifest>
