<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiqeapps.mediapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ******************************* Vistas Generales Bienvenida e Iniciar Sesion *************************************** -->
        <activity
            android:name=".Bienvenida"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InicioSesion"
            android:label="@string/title_activity_inicio_sesion"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- ******************************************* Nuevos Registros ******************************************************* -->
        <activity
            android:name=".RegistroNuevoPacientes"
            android:label="@string/title_activity_registro_pacientes"
            android:parentActivityName=".MenuNvosRegistros"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuNvosRegistros" />
        </activity>
        <activity
            android:name=".RegistroNuevoPatologico"
            android:label="@string/title_activity_patologico"
            android:parentActivityName=".MenuNvosRegistros"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuNvosRegistros" />
        </activity>
        <activity
            android:name=".RegistroNuevoNOPatologico"
            android:label="@string/title_activity_no__patologicos"
            android:parentActivityName=".MenuNvosRegistros"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuNvosRegistros" />
        </activity>
        <activity
            android:name=".RegistroNuevoAntecedentesFamiliares"
            android:label="@string/title_activity_antecedentes_familiares"
            android:parentActivityName=".MenuNvosRegistros"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuNvosRegistros" />
        </activity>
        <activity
            android:name=".RegistroNuevoGinecoObstetricos"
            android:label="@string/title_activity_gineco_obstetricos"
            android:parentActivityName=".MenuNvosRegistros"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuNvosRegistros" />
        </activity>
        <activity
            android:name=".NvoRegistro_SelectBTDev"
            android:label="@string/title_activity_select_bydev"
            android:noHistory="true"
            android:parentActivityName=".MenuNvosRegistros"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuNvosRegistros" />
        </activity>
        <activity
            android:name=".RegistroNuevoExploraFisica"
            android:label="@string/title_activity_explora_fisica"
            android:parentActivityName=".MenuNvosRegistros"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuNvosRegistros" />
        </activity>

        <!-- Vistas Menu Principal del doctor -->
        <activity
            android:name=".MenuDoctorMain"
            android:label="@string/title_activity_menu_doctor_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuNvosRegistros"
            android:label="@string/title_activity_menu_nvos_registros"
            android:parentActivityName=".MenuDoctorMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuDoctorMain" />
        </activity>
        <!-- Vistas del menu atender paciente -->
        <activity
            android:name=".MenuDoctorPaciente"
            android:label="@string/title_activity_menu_doctor"
            android:parentActivityName=".AtenderPaciente_BuscaRegistro"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AtenderPaciente_BuscaRegistro" />
        </activity>
        <activity
            android:name=".RegistroNuevoConsulta"
            android:label="@string/title_activity_registro_nuevo_consulta"
            android:parentActivityName=".MenuNvosRegistros"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuNvosRegistros" />
        </activity>
        <activity
            android:name=".AtenderPaciente_BuscaRegistro"
            android:label="@string/title_activity_atender_paciente__busca_registro"
            android:parentActivityName=".MenuDoctorMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuDoctorMain" />
        </activity>
        <activity
            android:name=".MainEliminaRegistro"
            android:label="@string/title_activity_main_elimina_registro"
            android:parentActivityName=".MenuDoctorMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuDoctorMain" />
        </activity>
        <activity
            android:name=".MainModificaStatusPaciente"
            android:label="@string/title_activity_main_modifica_status_paciente"
            android:parentActivityName=".MenuDoctorMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuDoctorMain" />
        </activity>
        <activity
            android:name=".VisualizarPacienteBuscaRegistro"
            android:label="@string/title_activity_visualizar_paciente_busca_registro"
            android:parentActivityName=".MenuDoctorMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuDoctorMain" />
        </activity>
        <activity
            android:name=".atender_patologicos"
            android:label="@string/title_activity_atender_patologicos"
            android:parentActivityName=".MenuDoctorPaciente"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuDoctorPaciente" />
        </activity>
        <activity
            android:name=".atender_nopatologicos"
            android:label="@string/title_activity_atender_nopatologicos"
            android:parentActivityName=".MenuDoctorPaciente"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuDoctorPaciente" />
        </activity>
        <activity
            android:name=".AtenderExpFisica"
            android:label="@string/title_activity_atender_exp_fisica"
            android:parentActivityName=".Atender_SelectBTDev"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.Atender_SelectBTDev" />
        </activity>
        <activity
            android:name=".Atender_SelectBTDev"
            android:label="@string/title_activity_atender__select_btdev"
            android:parentActivityName=".MenuDoctorPaciente"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuDoctorPaciente" />
        </activity>
        <activity
            android:name=".atender_consultas"
            android:label="@string/title_activity_atender_consultas"
            android:parentActivityName=".MenuDoctorPaciente"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuDoctorPaciente" />
        </activity>
        <activity
            android:name=".Atender_Gineco"
            android:label="@string/title_activity_atender__gineco"
            android:parentActivityName=".MenuDoctorPaciente"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuDoctorPaciente" />
        </activity>
        <activity
            android:name=".MenuVisualizarInfo"
            android:label="@string/title_activity_menu_visualizar_info"
            android:parentActivityName=".VisualizarPacienteBuscaRegistro"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.VisualizarPacienteBuscaRegistro" />
        </activity>
        <activity
            android:name=".VisualizarInfoGral"
            android:label="@string/title_activity_visualizar_info_gral"
            android:parentActivityName=".MenuVisualizarInfo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuVisualizarInfo" />
        </activity>
        <activity
            android:name=".VisualizarPatologicos"
            android:label="@string/title_activity_visualizar_patologicos"
            android:parentActivityName=".MenuVisualizarInfo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuVisualizarInfo" />
        </activity>
        <activity
            android:name=".VisualizatNoPatologicos"
            android:label="@string/title_activity_visualizat_no_patologicos"
            android:parentActivityName=".MenuVisualizarInfo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuVisualizarInfo" />
        </activity>
        <activity
            android:name=".VisualizarFamiliares"
            android:label="@string/title_activity_visualizar_familiares"
            android:parentActivityName=".MenuVisualizarInfo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuVisualizarInfo" />
        </activity>
        <activity
            android:name=".VisualizaGinecos"
            android:label="@string/title_activity_visualiza_ginecos"
            android:parentActivityName=".MenuVisualizarInfo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuVisualizarInfo" />
        </activity>
        <activity
            android:name=".VisualizarFisica"
            android:label="@string/title_activity_visualizar_fisica"
            android:parentActivityName=".MenuVisualizarInfo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuVisualizarInfo" />
        </activity>
        <activity
            android:name=".VisualizarConsultas"
            android:label="@string/title_activity_visualizar_consultas"
            android:parentActivityName=".MenuVisualizarInfo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qiqeapps.mediapp.MenuVisualizarInfo" />
        </activity>
    </application>

</manifest>
